*{
    margin: 0;
    padding: 0;
}
/* header section styles  */
header {
    width: 100%;
    height: 698px;
    background: url("../styles/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* navigation bar styles  */
header nav {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
}

#logo {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
    margin: 0;
    padding: 0;
}
#signup-btn {
    width: 132px;
    height: 48px;
    background: #4E47FF;
    border-radius: 10px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* hero section styles  */
.hero {
    max-width: 905px;
    height: 260px;
    margin: 0 auto;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #252432;
    text-align: center;
}
#hero-btn {
    width: 174px;
    height: 60px;
    background: #4E47FF;
    border-radius: 10px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 45px;
}

main {
    width: 100%;
    height: 100%;
    background-color:rgba(214, 221, 237, 0.3);
}

/* action section styles  */
.action {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
.action-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.action-info h3{
    font-size: 42px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #252432;   
}
.action-info p {
    font-size: 24px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 20px;
}
#action-btn {
    width: 229px;
    height: 48px;
    background: #4E47FF;
    border-radius: 10px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.action-image {
    width: 403px;
    height: 328px;
    background: url("./Assets/wc-mini.png");
    border-radius: 48px;
}